<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <h4>Contact</h4>
                    <ul class="info-list md-list i-primary">
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a href="mailto:saucefauge@gmail.com">Contact Us</a>
                        </li>
                        <!--<li>
                            <i class="fa fa-phone fa-fw"></i>
                            +61 9999 8888
                        </li>-->
                        <li>
                            <i class="fa fa-map-marker fa-fw"></i>
                            Melbourne, Australia
                        </li>
                    </ul>
                </div>
                <div class="space-sm visible-sm visible-xs"></div>
                <div class="col-md-4 col-lg-4 col-xs-12">
                    <h4>Quick Links</h4>
                    <ul class="info-list md-list i-primary">
                        <li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/whysaucery.html"><span class="link-title">Why</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/Saucery/home.html"><span class="link-title">Saucery</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/SauceryX/home.html"><span class="link-title">Saucery.XUnit</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/SauceryX3/home.html"><span class="link-title">Saucery.XUnit.v3</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/SauceryT/home.html"><span class="link-title">Saucery.TUnit</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/SauceryJ/home.html"><span class="link-title">SauceryJ</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/versions.html"><span class="link-title">Available Versions</span></a>
                        </li>
						<!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/pricing.html"><span class="link-title">Pricing</span></a>
                        </li>-->
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/benefits.html"><span class="link-title">Benefits</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/howto.html"><span class="link-title">How To</span></a>
                        </li>
						<!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/changelog.html"><span class="link-title">Change Log</span></a>
                        </li>-->
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/contact.html"><span class="link-title">Contact</span></a>
                        </li>
						<!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/subscribe.html"><span class="link-title">Subscribe</span></a>
                        </li>-->
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/about.html"><span class="link-title">About Us</span></a>
                        </li>
                        <!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="#">
                                <span class="link-title">Services</span></a>
                        </li>-->
                        <!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/team.html"><span class="link-title">Our Team</span></a>
                        </li>-->
                        
						<!--<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/privacy.html">
                                <span class="link-title">Privacy</span></a>
                        </li>
						<li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="/terms.html">
                                <span class="link-title">Terms</span></a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-fw"></i>
                            <a href="#">
                                <span class="link-title">Blog</span>- Breaking news</a>
                        </li>-->
                    </ul>
                </div>
                <div class="space-sm visible-sm visible-xs"></div>
                <div class="col-md-4 col-lg-4  col-xs-12">
                    <h4>About Us</h4>
                    <p>Founded in 2008, SauceForge is based in Melbourne, Australia. We love automating things and are always on the lookout for cool new ways to deliver awesomeness.</p>
                    <div class="space-sm"></div>
                    <h4>Follow Us</h4>
                    <ul class="circle-icons icons-list">
                        <li>
                            <a href="https://github.com/SauceForge" target="_blank" title="GitHub">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/agrayz" target="_blank" title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
						<li>
                            <a href="https://www.youtube.com/channel/UCgJnbQoZJTEC-AgBckBz0rQ" target="_blank" title="YouTube">
                                <i class="fa fa-youtube-play"></i>
                            </a>
                        </li>
                        <!--<li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-tumblr"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="Follow us">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p>© 2008-{{ 'now' | date: "%Y" }} SauceForge. All rights reserved.</p>
        </div>
    </div>
</footer>
