<li class="col-md-6">
	<div align="center">
		<h3>Saucery for NUnit 2</h3>
		<p>C# Automated Testing</p>
		<p>
			<a href="http://www.seleniumhq.org"><img src="../Images/selenium.png" alt="Selenium" width="24" height="24" border="0"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../Images/appium.png" alt="Appium" width="24" height="24" border="0"></a>
		</p>
		<p>Available on <a href="http://nuget.org/packages/saucery2" target="_blank">NuGet</a></p>
		<a href="https://github.com/Sauceforge/Saucery2"><img src="../Images/github-sm.png" alt="Source Code" width="24" height="24" border="0"></a>
	<div>
</li>
<li class="col-md-6">
	<div align="center">
		<h3>Saucery for NUnit 3</h3>
		<p>C# Automated Testing</p>
		<p>
			<a href="http://www.seleniumhq.org"><img src="../Images/selenium.png" alt="Selenium" width="24" height="24" border="0"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../Images/appium.png" alt="Appium" width="24" height="24" border="0"></a>
		</p>
		<p>Available on <a href="http://nuget.org/packages/saucery3" target="_blank">NuGet</a></p>
		<a href="https://github.com/Sauceforge/Saucery3"><img src="../Images/github-sm.png" alt="Source Code" width="24" height="24" border="0"></a>
	</div>
</li>