<li class="col-lg-6">
	<div align="center">
		<h3>Saucery 2</h3>
		<p>
			<a href="https://www.selenium.dev"><img src="../Images/selenium.png" width="24" height="24" border="0" alt="Selenium"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../Images/appium.png" width="24" height="24" border="0" alt="Appium"></a>
		</p>
		<p>Available on <a href="http://nuget.org/packages/saucery2" target="_blank"><img src="../Images/nuget.ico" width="24" height="24" border="0" alt="NuGet"></a></p>
		<p>Made with <i class="icon ion-heart" style="color: #e25555;"></i> on <a href="https://github.com/Sauceforge/Saucery2"><img src="../Images/github-sm.png" width="24" height="24" border="0" alt="GitHub"></a></p>
	<div>
</li>
<li class="col-lg-6">
	<div align="center">
		<h3>Saucery 3</h3>
		<p>
			<a href="https://www.selenium.dev"><img src="../Images/selenium.png" width="24" height="24" border="0" alt="Selenium"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../Images/appium.png" width="24" height="24" border="0" alt="Appium"></a>
		</p>
		<p>Available on <a href="http://nuget.org/packages/saucery3" target="_blank"><img src="../Images/nuget.ico" width="24" height="24" border="0" alt="NuGet"></a></p>
		<p>Made with <i class="icon ion-heart" style="color: #e25555;"></i> on <a href="https://github.com/Sauceforge/Saucery3"><img src="../Images/github-sm.png" width="24" height="24" border="0" alt="GitHub"></a></p>
	</div>
</li>