<li class="col-xs-12 col-sm-12 col-md-12">
	<div align="center">
		<h3>Saucery 2</h3>
		<p>
			<a href="https://www.selenium.dev"><img src="../Images/selenium.png" alt="Selenium" width="24" height="24" border="0"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../Images/appium.png" alt="Appium" width="24" height="24" border="0"></a>
		</p>
		<p>Available on <a href="http://nuget.org/packages/saucery2" target="_blank"><img src="../Images/nuget.ico" alt="NuGet" width="24" height="24" border="0" alt="NuGet"></a></p>
		<p>Made with <i class="icon ion-heart" style="color: #e25555;"></i> on <a href="https://github.com/Sauceforge/Saucery2"><img src="../Images/github-sm.png" alt="Source Code" width="24" height="24" border="0" alt="GitHub"></a></p>
	<div>
</li>
<li class="col-xs-12 col-sm-12 col-md-12">
	<div align="center">
		<h3>Saucery 3</h3>
		<p>
			<a href="https://www.selenium.dev"><img src="../Images/selenium.png" alt="Selenium" width="24" height="24" border="0"></a> 
			&amp; 
			<a href="http://appium.io"><img src="../Images/appium.png" alt="Appium" width="24" height="24" border="0"></a>
		</p>
		<div class="space-md"></div>
		<p>Available on <a href="http://nuget.org/packages/saucery3" target="_blank"><img src="../Images/nuget.ico" alt="NuGet" width="24" height="24" border="0" alt="NuGet"></a></p>
		<div class="space-md"></div>
		<p>Made with <i class="icon ion-heart" style="color: #e25555;"></i> on <a href="https://github.com/Sauceforge/Saucery3"><img src="../Images/github-sm.png" alt="Source Code" width="24" height="24" border="0" alt="GitHub"></a></p>
	</div>
</li>